@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.modal-wrapper
	.form-wrapper
		max-width 600px
		position relative
		display flex
		flex-direction column
		// justify-content center
		align-items center
		margin 0 auto
		h1
			font-family 'Cinzel Decorative'
			font-size 48px
			color #bc9e6b
			text-transform uppercase
			margin 25px 0 0 0
		h4
			font-family 'Raleway'
			font-size 24px
			color #565656
			text-transform capitalize
			margin 24px auto
		.row-for-input
			width 100%
			position relative
			display flex
			justify-content space-between
			.input-wrapper
				flex-basis 49%
		button
			align-self flex-start
			border none
			outline none
			font-family 'Raleway'
			font-size 16px
			font-weight 700
			color #ffffff
			padding 15px 25px
			border solid 2px #bc9e6b
			background-color #bc9e6b
			text-transform uppercase
			&:hover
				border solid 2px #bc9e6b
				color #bc9e6b
				background-color #ffffff
			&:disabled
				border solid 2px #bc9e6b
				color #ffffff
				background-color #bc9e6b
				opacity 0.5